.booking__form {
  min-width: 50%;
  color: $brand-white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;

  @include respond(tab-port) {
    min-height: 70rem;
  }

  @include respond(phone) {
    padding: 0 5rem;
  }

  &-row {
    margin-bottom: 2rem;
  }

  &-head {
    margin-bottom: 5rem;
    text-transform: capitalize;
  }

  &-contain {
    width: 63.4rem;
    text-align: center;
    padding: 0 3rem;
  }

  &-input {
    width: 100%;
    padding: 2rem;
    border-radius: 3px;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &-textarea {
    width: 100%;
    padding: 2rem;
    border-radius: 3px;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &-bttn {
    width: 100%;
    color: $brand-white;
    font-size: $default-font-size;
    text-align: center;
    background: $brand-orange;
    height: 6rem;
    border-radius: 3px;
  }
}