.carousel {
  @include verticalAlign;
  &-contain {
    padding-left: 8.4rem;
    padding-right: 9.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


    @include respond(phone) {
      padding-bottom: 9rem; // eyeballed. messy. 
    }
  }

  &__heading {
    width: 86.7rem;
    height: 21rem;
    text-transform: capitalize;

    @include respond(tab-port){}

    h1 {
      font-size: $main-heading-size;
      line-height: $main-heading-spacing;
      color: $brand-white;
      font-weight: $type-bold;
      text-shadow: 0px .3rem .3rem rgba(0, 0, 0, 0.61);
      text-align: center;
      text-transform: uppercase;

      @include respond(tab-port) {
        font-size: 5rem;
        line-height: 6.2rem;
      }


      @include respond(phone) {
        font-size: 4rem;
        line-height: 5.2rem;
      }
    }
  }

  &__left,
  &__right {
    width: 3.7rem;
    height: 3.7rem;

    @include respond(tab-port) {
      display: none;
    }

    @include respond(phone) {
      display: none;
    }
  }
}