.footer {
  &__links-head {
    font-size: 2rem;
    font-weight: $type-bold;
    margin-bottom: 1.5rem;
    text-transform: capitalize;

    @include respond(tab-land) {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;

    }

    @include respond(phone) {
      font-size: 3rem;
      margin-bottom: 2.5rem;
    }
  }

  &__links-nav {
    display: flex;
    justify-content: space-around;

    @include respond(tab-land) {
      font-size: 2rem;
    }

    @include respond(phone) {
      display: block;
      width: 100%;
      font-size: 2rem;
    }
  }

  &__links-navlinks {
    display: flex;
    margin-bottom: 6.3rem;

    li:after {
      content: "-";
      margin-left: 1rem;
      margin-right: 1rem;
      display: inline-block;
    }

    li:last-child:after {
      content: ""; // get rid of the dash in the last link
    }

    @include respond(tab-port) {
      li:after {
        content: "";
      }
    }

    @include respond(phone) {
      display: block;
      line-height: 3rem;

      li:after {
        content: " "
      }
    }

    li>a {
      text-transform: capitalize;
      color: $brand-white;
    }
  }
}