.navigation {
  height: 9.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;

  // [class^='link'] {
  //   text-transform: capitalize;
  // }

  @include respond(tab-port) {
    height: 8rem;
    padding: 0 3rem;
  }

  &_contain {
    width: 95%; // eyeballed. Not Great. The margins are smaller than the rest of the site design.
    // width: 104.4rem; // Exact rem causes the navbar to be unsquishable :(
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    width: 23rem;
    height: 6.5rem;

    &-img {
      width: 100%;
      height: 100%;
      margin-top: 0.5rem;
    }
  }

  &__nav {
    width: 56.7rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0;
    height: 100%;
    line-height: 2.3rem; // hackity hack. lost baseline lineup :-(

    &-toggle {
      display: none; // hidden at full size screen

      @include respond(tab-port) {
        display: block;
        font-size: 3rem;
        text-align: right;
        @include verticalAlign;
      }
    }
  }

  &__minor_nav {
    display: flex;
    justify-content: flex-end;
    font-size: $nav-minor-size;
    align-items: flex-end;
    padding: 0;
    top: 2rem;

    @include respond(tab-port) {
      ul {
        display: block;
        width: 100%;
      }
    }
  }

  &__minor-social {
    display: flex;
    justify-content: flex-end;
    font-size: $nav-major-size;
    margin-right: 2.5rem;

    li:not(:first-child) {
      margin-left: 1rem;
    }

    @include respond(tab-port) {

      ul,
      li {
        display: none;
      }

    }
  }

  &__minor-corp {
    display: flex;
    justify-content: flex-end;
    width: 16.4rem;

    li:not(:first-child) {
      margin-left: 1.6rem;
    }

    @include respond(tab-port) {
      li {
        display: block;
      }
    }
  }

  &__major-corp {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: $nav-major-size;
    padding: 0;
    margin-right: 0;
    transition: 0.5s;

    @include respond(tab-port) {
      // display: block;
      text-align: right;
      display: none;
    }

    li:not(:first-child) {
      margin-left: 3.3rem;
    }

    >.navigation__nav-link {
      text-transform: capitalize;
    }

    @include respond(tab-port) {

      li {
        display: inline-block;
        width: 100%;
        border: 1px solid red;
      }
    }
  }
}

.navigation__minor_nav {
  @include respond(tab-port) {
    ul {
      display: none;
      // display: block;
    }
  }
}