  .service__card {
    background: $brand-white;
    border-radius: 5px;
    padding: 7rem 6rem 3rem;
    margin-top: -5rem;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);

    &_head {
      font-size: 2.4rem;
      text-align: center;
      line-height: 3.6rem;
      text-transform: capitalize;

    }
  }

  .service__tick {
    background: $brand-white;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    i {
      color: $brand-orange;
      font-weight: $type-extra-bold;
      font-size: 6.3rem;
    }
  }

  .service__col {
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      margin-top: -0.5rem;
    }
  }