.footer__subscribe {
  &-head {
    font-size: 2rem;
    font-weight: $type-bold;
    margin-bottom: 3.3rem;

    @include respond(tab-land) {
      font-size: 2.5rem;
    }

    @include respond(phone) {
      font-size: 3rem;
      margin-bottom: 2.5rem;
    }
  }

  &-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7rem;
  }

  &-input {
    width: 31rem;
    height: 4.4rem;
    padding: 1.4rem 2.6rem;
    border-radius: 3px;

    @include respond(tab-port) {
      display: block;
      margin-bottom: 3rem;
      width: 50rem;
      height: 5rem;
      font-size: 1.8rem;
    }

    @include respond(phone) {
      width: 40rem;
      height: 6rem;
      font-size: 2rem;
    }
  }

  &-input:not(:first-child) {
    margin-left: 3rem;

    @include respond(tab-port) {
      margin-left: 0rem;
    }

    @include respond(phone) {
      margin-left: 0rem;
    }
  }

  &-bttn {
    height: 4.4rem;
    background: $brand-orange;
    color: $brand-white;
    border-radius: 3px;
    width: 11.4rem;
    margin-left: 3rem;

    @include respond(tab-port) {
      width: 50rem;
      height: 5rem;
      font-size: 1.8rem;
      margin: 0;
    }

    @include respond(phone) {
      width: 40rem;
      height: 6rem;
      margin: 0;
      font-size: 2rem;
    }
  }

}