.booking__testimonials {
  min-width: 50%;
  background: url("../../assets/testimonial_bg.jpg") no-repeat no-repeat;
  background-size: cover;
  color: $brand-white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-port) {
    min-height: 50rem;
  }



  &-contain {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10rem;
    flex-direction: column;
    border: 1px solid yellow;
  }

  &-text {
    width: 44.4rem;

    // don't specify height or it'll scoot upwards
    @include respond(tab-land) {
      width: 100%;
      padding: 0 5rem;
    }
  }

  &-heading {
    margin-bottom: 4rem;
  }

  &-txt {
    font-weight: $type-bold;
    font-style: italic;
    line-height: 3.4rem;
    font-size: 2.4rem;
    margin-bottom: 4rem;

    @include respond(tab-land) {
      font-size: 3rem;
      line-height: 3.6rem;
    }

    @include respond(tab-port) {
      font-size: 3.4rem;
      line-height: 4rem;
    }

    @include respond(phone) {
      font-size: 2.6rem;
      font-weight: $type-bold;
      line-height: 3.2rem;
    }
  }

  &-credit {
    font-size: 2rem;
    font-weight: $type-regular;
  }

  &-quote>i {
    font-size: 6rem;
  }
}

.quote-left {
  float: left;
}