.whatwedo__card {
  height: 48rem;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);

  @include respond(tab-port) {
    height: 38rem;
  }

  @include respond(phone) {
    height: 28rem;
  }

  &-hover {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(243, 91, 45, 1.0);
    margin-top: 42rem; // the tag is 6rem
    transition: 0.5s ease;
    padding-top: 2rem;
    transition: 0.5s ease;

    @include respond(tab-port) {
      margin-top: 32rem;
    }

    @include respond(phone) {
      margin-top: 22rem;
    }

    h3 {
      color: $brand-white;
      font-size: 2.4rem;
      text-transform: capitalize;
      transition: 0.5s ease;
    }

    &-txt {
      text-align: center;
      width: 60%;
      margin: 4rem auto 0;
      color: $brand-white;
      font-size: 1.8rem;
      font-weight: $type-regular;
      line-height: 3rem; // eyeballed

      @include respond(phone) {
        margin: 2rem auto 0;
        width: 85%;
      }
    }

    &-bttn {
      margin-top: 2rem;
      padding: 1.5rem 4rem;
      background: $brand-white;
      border-radius: 3px;
    }
  }

  &-hover:hover {
    margin-top: 0rem; // the tag is 6rem high
    background-color: rgba(243, 91, 45, 0.85);

    h3 {
      margin-top: 10rem; // this pushes the &-txt down with it. Hacky, not great.

      @include respond(tab-port) {
        margin-top: 5rem;
      }

      @include respond(phone) {
        margin-top: 2rem;
      }
    }
  }
}

.whatwedo__row-first {
  .whatwedo__card {
    &:first-child {
      background: url("../../assets/card1.jpg");
      @include bgCover;
    }

    &:nth-child(2) {
      background: url("../../assets/card2.jpg");
      @include bgCover;
    }

    &:last-child {
      background: url("../../assets/card3.jpg");
      @include bgCover;
    }
  }
}

.whatwedo__row-second {
  .whatwedo__card {
    &:first-child {
      background: url("../../assets/card4.jpg");
      @include bgCover;
    }

    &:nth-child(2) {
      background: url("../../assets/card5.jpg");
      @include bgCover;
    }

    &:last-child {
      background: url("../../assets/card6.jpg");
      @include bgCover;
    }
  }
}

// The class specificity didn't work
// [class^="whatwedo__row"] {
//   margin-bottom: $whatwedo-gutter-bottom
// }