*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  vertical-align: baseline;
  box-sizing: border-box;
  // Don't set font-size: 100%; here. Messes things up. 
}

html {
  // 1rem = 10px; 10px/16px = 62.5%x
  font-size: 62.5%; // define 1rem = 10px
}

body {
  box-sizing: border-box;
  // min-width: 112.5em; // smallest browser window size possible
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  color: none;
  line-height: inherit;
}

a,
a:visited,
a:active,
a:hover {
  color: $brand-black;
  text-decoration: none;
  text-transform: none;
  border: none;
  background: none;
}

ul,
ol,
li {
  list-style-type: none;
}