body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
  color: $brand-black;
  font-size: $default-font-size;
}

.brand-heading {
  font-weight: $type-regular;
  font-size: $heading-size;

  @include respond(phone) {
    font-size: 4rem;
  }
}