// override bootstrap grid measurement
// attempted to use .col-xl- but unsuccessful
.container {
  max-width: 116.2rem !important;
  padding: 0 !important;
  border: 0 !important;
}

.navigation,
.header,
.blurb,
.whatwedo,
.service,
.client,
.booking,
.footer {
  display: block;
  position: relative;
  width: 100%;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}