/* Colour Palette */
$brand-black: #000;
$brand-orange: #f35b2d;
$brand-blue: #043c6f;
$brand-grey: #f3f3f3;
$brand-brown: #d66728;
$brand-white: #fff;

/* Font weight */
$type-regular: 400;
$type-bold: 700;
$type-extra-bold: 800;

/* Font size */
$default-font-size: 1.6rem;
$nav-major-size: 1.7rem;
$nav-minor-size: 1.4rem;
$heading-size: 4.8rem;

// // Heading variables
$main-heading-size: 6.4rem;
$main-heading-spacing: 7rem; // guestimated

/* Responsive Variables */
$default-tab-font-size: 2rem;
$default-phone-font-size: 4rem;

$heading-tab-font-size: 6rem;
$heading-tab-lh: 7rem;
$heading-phone-font-size: 5.8rem;
$heading-phone-lh: 5rem;

$default-tab-lh: 3rem;
$default-phone-lh: 4.8rem;


/* Gridlines */

// attempted to modify bootstrap grid columns from bootstrap
$container-max-widths: (sm: 420px,
  md: 720px,
  lg: 1162px);

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$resp-side-margin: 3rem; // to keep forms, sections from being flush against the vertical edges of the screen

$services-gutter: 1.8rem;

$blurb-image-gutter:8.4rem;

$whatwedo-row-gutter: 3.2rem;

$res-side-gutter: 3rem;