.blurb {
  height: 45.5rem; // changing this to min-height will lose the image overlap at defaut screen size
  padding: 6.7rem 0;
  background: $brand-white;
  font-size: $default-font-size;

  @include respond(tab-land) {
    padding-left: $resp-side-margin;
    padding-right: $resp-side-margin;
  }

  @include respond(phone) {
    // loses the overlap atlower screensize
    height: 100%;
  }

  &__text {
    font-weight: $type-regular;
    width: 100%; // 60.6rem;
    height: 100%;
    text-align: left;
    margin-right: 8.4rem; // gutter

    &-head {
      font-size: $heading-size;
      margin-bottom: 3rem; // gutter
      text-transform: capitalize;

      @include respond(phone) {
        font-size: $heading-phone-font-size;
        line-height: 8rem;
      }
    }

    &-full {
      line-height: 3.8rem; //eyeballed it
      font-size: 1.6rem;

      @include respond(tab-land) {
        font-size: $default-tab-font-size;
        line-height: $default-tab-lh;
      }
    }
  }

  &__image {
    width: 47.4rem;
    height: 54rem;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);

    margin-left: $blurb-image-gutter;
    z-index: 10; // not the best way to implement overlap alone
    margin-top: -10rem;

    @include respond(tab-land) {
      display: none;
    }

    @include respond(tab-port) {
      display: none;
    }
  }
}

.blurb_contain {
  display: flex;
  justify-content: space-between;
}