.booking {
  min-height: 70.8rem;
  width: 100%;
  border-bottom: 2px solid $brand-orange;
  background: $brand-blue;
  display: flex;
  justify-content: space-between;

  @include respond(tab-port) {
    display: block;
    width: 100%;
  }
}