.client {
  min-height: 53.3rem;
  width: 100%;



  @include respond(phone) {
    min-height: 66rem;
  }

  &__contain {
    @include absoluteCenter;
    text-align: center;



    @include respond(phone) {
      width: 100%;
    }
  }

  &__heading {
    color: $brand-brown;

    &-txt {
      @include respond(phone) {
        font-size: 4rem;
      }
    }
  }

  &__logo {
    &-area {
      margin-top: 5.7rem;
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;

      @include respond(tab-land) {

        padding-left: $resp-side-margin;
        padding-right: $resp-side-margin;
      }

    }

    &-img {}

    &-col {
      width: 100%;


      @include respond(phone) {
        width: 50%;
        margin-bottom: 7rem;
      }
    }

    &-col:not(:first-child) {
      margin-left: 4rem;

      @include respond(phone) {
        margin-left: 0;
      }
    }
  }
}