.footer {
  min-height: 35.1rem;
  background: $brand-black;
  color: $brand-white;
  text-align: center;
  padding: $resp-side-margin;

  &__contain {
    display: block;
  }

  &__copyright {
    font-size: 1.4rem;
    text-align: center;
  }
}