.header {
  height: 91.5rem;
  width: 100%;
  background: url("../../assets/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  @include respond(tab-land) {
    height: 64rem;
    width: 100%;
  }

  @include respond(tab-port) {
    height: 56rem;
    width: 100%;
  }

  @include respond(phone) {
    height: 42rem;
    width: 100%;
  }
}