.service {
  min-height: 70rem;
  width: 100%;
  background: url("../../assets/services_bg_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  align-content: center;
  align-items: center;

  @include respond(tab-port) {
    padding-left: $resp-side-margin;
    padding-right: $resp-side-margin;
  }

  &__contain {
    @include respond(tab-land) {
      padding-left: $resp-side-margin;
      padding-right: $resp-side-margin;
    }

    @include respond(tab-port) {
      padding-left: $resp-side-margin;
      padding-right: $resp-side-margin;
    }

    @include respond(phone) {
      padding-left: $resp-side-margin;
      padding-right: $resp-side-margin;
    }
  }

  &__col {
    text-align: center;
  }
}