.whatwedo {
  height: 100%; // not sure if this approach will work
  padding-top: 12.6rem;
  padding-bottom: 12.6rem;
  background: $brand-grey;
  overflow: hidden;

  @include respond(tab-port) {
    padding-left: $res-side-gutter;
    padding-right: $res-side-gutter;
  }

  @include respond(phone) {
    padding-left: $res-side-gutter *2;
    padding-right: $res-side-gutter * 2;
  }

  &__heading {
    text-align: center;
    margin-bottom: 7rem; //gutter
    text-transform: capitalize;

    &-txt {
      font-size: $heading-size;
      font-weight: $type-regular;
      color: $brand-orange;

      @include respond(phone) {
        font-size: 4rem;
      }
    }
  }
}