/*
0 - 600px:      Phone
600 - 900px:    Tablet landscape
900 - 1200px:   Tablet potrait
[1200 - 1800] is where our normal styles apply. no need for a media query
1800px +:       Large desktops

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base & typography > general layout + grid > page layout > components

1em = 16px
*/
/* Colour Palette */
/* Font weight */
/* Font size */
/* Responsive Variables */
/* Gridlines */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  color: none;
  line-height: inherit;
}

a,
a:visited,
a:active,
a:hover {
  color: #000;
  text-decoration: none;
  text-transform: none;
  border: none;
  background: none;
}

ul,
ol,
li {
  list-style-type: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
  color: #000;
  font-size: 1.6rem;
}

.brand-heading {
  font-weight: 400;
  font-size: 4.8rem;
}

@media (max-width: 37.5em) {
  .brand-heading {
    font-size: 4rem;
  }
}

.container {
  max-width: 116.2rem !important;
  padding: 0 !important;
  border: 0 !important;
}

.navigation,
.header,
.blurb,
.whatwedo,
.service,
.client,
.booking,
.footer {
  display: block;
  position: relative;
  width: 100%;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.booking {
  min-height: 70.8rem;
  width: 100%;
  border-bottom: 2px solid #f35b2d;
  background: #043c6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 56.25em) {
  .booking {
    display: block;
    width: 100%;
  }
}

.client {
  min-height: 53.3rem;
  width: 100%;
}

@media (max-width: 37.5em) {
  .client {
    min-height: 66rem;
  }
}

.client__contain {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 37.5em) {
  .client__contain {
    width: 100%;
  }
}

.client__heading {
  color: #d66728;
}

@media (max-width: 37.5em) {
  .client__heading-txt {
    font-size: 4rem;
  }
}

.client__logo-area {
  margin-top: 5.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 75em) {
  .client__logo-area {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.client__logo-col {
  width: 100%;
}

@media (max-width: 37.5em) {
  .client__logo-col {
    width: 50%;
    margin-bottom: 7rem;
  }
}

.client__logo-col:not(:first-child) {
  margin-left: 4rem;
}

@media (max-width: 37.5em) {
  .client__logo-col:not(:first-child) {
    margin-left: 0;
  }
}

.service {
  min-height: 70rem;
  width: 100%;
  background: url("../../assets/services_bg_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .service {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 75em) {
  .service__contain {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 56.25em) {
  .service__contain {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 37.5em) {
  .service__contain {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.service__col {
  text-align: center;
}

.whatwedo {
  height: 100%;
  padding-top: 12.6rem;
  padding-bottom: 12.6rem;
  background: #f3f3f3;
  overflow: hidden;
}

@media (max-width: 56.25em) {
  .whatwedo {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 37.5em) {
  .whatwedo {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.whatwedo__heading {
  text-align: center;
  margin-bottom: 7rem;
  text-transform: capitalize;
}

.whatwedo__heading-txt {
  font-size: 4.8rem;
  font-weight: 400;
  color: #f35b2d;
}

@media (max-width: 37.5em) {
  .whatwedo__heading-txt {
    font-size: 4rem;
  }
}

.footer {
  min-height: 35.1rem;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 3rem;
}

.footer__contain {
  display: block;
}

.footer__copyright {
  font-size: 1.4rem;
  text-align: center;
}

.blurb {
  height: 45.5rem;
  padding: 6.7rem 0;
  background: #fff;
  font-size: 1.6rem;
}

@media (max-width: 75em) {
  .blurb {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 37.5em) {
  .blurb {
    height: 100%;
  }
}

.blurb__text {
  font-weight: 400;
  width: 100%;
  height: 100%;
  text-align: left;
  margin-right: 8.4rem;
}

.blurb__text-head {
  font-size: 4.8rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

@media (max-width: 37.5em) {
  .blurb__text-head {
    font-size: 5.8rem;
    line-height: 8rem;
  }
}

.blurb__text-full {
  line-height: 3.8rem;
  font-size: 1.6rem;
}

@media (max-width: 75em) {
  .blurb__text-full {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.blurb__image {
  width: 47.4rem;
  height: 54rem;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  margin-left: 8.4rem;
  z-index: 10;
  margin-top: -10rem;
}

@media (max-width: 75em) {
  .blurb__image {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .blurb__image {
    display: none;
  }
}

.blurb_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  height: 91.5rem;
  width: 100%;
  background: url("../../assets/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 75em) {
  .header {
    height: 64rem;
    width: 100%;
  }
}

@media (max-width: 56.25em) {
  .header {
    height: 56rem;
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .header {
    height: 42rem;
    width: 100%;
  }
}

.footer__subscribe-head {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.3rem;
}

@media (max-width: 75em) {
  .footer__subscribe-head {
    font-size: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .footer__subscribe-head {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
}

.footer__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7rem;
}

.footer__subscribe-input {
  width: 31rem;
  height: 4.4rem;
  padding: 1.4rem 2.6rem;
  border-radius: 3px;
}

@media (max-width: 56.25em) {
  .footer__subscribe-input {
    display: block;
    margin-bottom: 3rem;
    width: 50rem;
    height: 5rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 37.5em) {
  .footer__subscribe-input {
    width: 40rem;
    height: 6rem;
    font-size: 2rem;
  }
}

.footer__subscribe-input:not(:first-child) {
  margin-left: 3rem;
}

@media (max-width: 56.25em) {
  .footer__subscribe-input:not(:first-child) {
    margin-left: 0rem;
  }
}

@media (max-width: 37.5em) {
  .footer__subscribe-input:not(:first-child) {
    margin-left: 0rem;
  }
}

.footer__subscribe-bttn {
  height: 4.4rem;
  background: #f35b2d;
  color: #fff;
  border-radius: 3px;
  width: 11.4rem;
  margin-left: 3rem;
}

@media (max-width: 56.25em) {
  .footer__subscribe-bttn {
    width: 50rem;
    height: 5rem;
    font-size: 1.8rem;
    margin: 0;
  }
}

@media (max-width: 37.5em) {
  .footer__subscribe-bttn {
    width: 40rem;
    height: 6rem;
    margin: 0;
    font-size: 2rem;
  }
}

.footer__links-head {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

@media (max-width: 75em) {
  .footer__links-head {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .footer__links-head {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
}

.footer__links-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 75em) {
  .footer__links-nav {
    font-size: 2rem;
  }
}

@media (max-width: 37.5em) {
  .footer__links-nav {
    display: block;
    width: 100%;
    font-size: 2rem;
  }
}

.footer__links-navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.3rem;
}

.footer__links-navlinks li:after {
  content: "-";
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.footer__links-navlinks li:last-child:after {
  content: "";
}

@media (max-width: 56.25em) {
  .footer__links-navlinks li:after {
    content: "";
  }
}

@media (max-width: 37.5em) {
  .footer__links-navlinks {
    display: block;
    line-height: 3rem;
  }
  .footer__links-navlinks li:after {
    content: " ";
  }
}

.footer__links-navlinks li > a {
  text-transform: capitalize;
  color: #fff;
}

.booking__form {
  min-width: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

@media (max-width: 56.25em) {
  .booking__form {
    min-height: 70rem;
  }
}

@media (max-width: 37.5em) {
  .booking__form {
    padding: 0 5rem;
  }
}

.booking__form-row {
  margin-bottom: 2rem;
}

.booking__form-head {
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.booking__form-contain {
  width: 63.4rem;
  text-align: center;
  padding: 0 3rem;
}

.booking__form-input {
  width: 100%;
  padding: 2rem;
  border-radius: 3px;
}

@media (max-width: 56.25em) {
  .booking__form-input {
    font-size: 1.8rem;
  }
}

@media (max-width: 37.5em) {
  .booking__form-input {
    font-size: 2rem;
  }
}

.booking__form-textarea {
  width: 100%;
  padding: 2rem;
  border-radius: 3px;
}

@media (max-width: 56.25em) {
  .booking__form-textarea {
    font-size: 1.8rem;
  }
}

@media (max-width: 37.5em) {
  .booking__form-textarea {
    font-size: 2rem;
  }
}

.booking__form-bttn {
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  background: #f35b2d;
  height: 6rem;
  border-radius: 3px;
}

.booking__testimonials {
  min-width: 50%;
  background: url("../../assets/testimonial_bg.jpg") no-repeat no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 56.25em) {
  .booking__testimonials {
    min-height: 50rem;
  }
}

.booking__testimonials-contain {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid yellow;
}

.booking__testimonials-text {
  width: 44.4rem;
}

@media (max-width: 75em) {
  .booking__testimonials-text {
    width: 100%;
    padding: 0 5rem;
  }
}

.booking__testimonials-heading {
  margin-bottom: 4rem;
}

.booking__testimonials-txt {
  font-weight: 700;
  font-style: italic;
  line-height: 3.4rem;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

@media (max-width: 75em) {
  .booking__testimonials-txt {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

@media (max-width: 56.25em) {
  .booking__testimonials-txt {
    font-size: 3.4rem;
    line-height: 4rem;
  }
}

@media (max-width: 37.5em) {
  .booking__testimonials-txt {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.2rem;
  }
}

.booking__testimonials-credit {
  font-size: 2rem;
  font-weight: 400;
}

.booking__testimonials-quote > i {
  font-size: 6rem;
}

.quote-left {
  float: left;
}

.whatwedo__card {
  height: 48rem;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 56.25em) {
  .whatwedo__card {
    height: 38rem;
  }
}

@media (max-width: 37.5em) {
  .whatwedo__card {
    height: 28rem;
  }
}

.whatwedo__card-hover {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #f35b2d;
  margin-top: 42rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding-top: 2rem;
  transition: 0.5s ease;
}

@media (max-width: 56.25em) {
  .whatwedo__card-hover {
    margin-top: 32rem;
  }
}

@media (max-width: 37.5em) {
  .whatwedo__card-hover {
    margin-top: 22rem;
  }
}

.whatwedo__card-hover h3 {
  color: #fff;
  font-size: 2.4rem;
  text-transform: capitalize;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.whatwedo__card-hover-txt {
  text-align: center;
  width: 60%;
  margin: 4rem auto 0;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

@media (max-width: 37.5em) {
  .whatwedo__card-hover-txt {
    margin: 2rem auto 0;
    width: 85%;
  }
}

.whatwedo__card-hover-bttn {
  margin-top: 2rem;
  padding: 1.5rem 4rem;
  background: #fff;
  border-radius: 3px;
}

.whatwedo__card-hover:hover {
  margin-top: 0rem;
  background-color: rgba(243, 91, 45, 0.85);
}

.whatwedo__card-hover:hover h3 {
  margin-top: 10rem;
}

@media (max-width: 56.25em) {
  .whatwedo__card-hover:hover h3 {
    margin-top: 5rem;
  }
}

@media (max-width: 37.5em) {
  .whatwedo__card-hover:hover h3 {
    margin-top: 2rem;
  }
}

.whatwedo__row-first .whatwedo__card:first-child {
  background: url("../../assets/card1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.whatwedo__row-first .whatwedo__card:nth-child(2) {
  background: url("../../assets/card2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.whatwedo__row-first .whatwedo__card:last-child {
  background: url("../../assets/card3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.whatwedo__row-second .whatwedo__card:first-child {
  background: url("../../assets/card4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.whatwedo__row-second .whatwedo__card:nth-child(2) {
  background: url("../../assets/card5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.whatwedo__row-second .whatwedo__card:last-child {
  background: url("../../assets/card6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.service__card {
  background: #fff;
  border-radius: 5px;
  padding: 7rem 6rem 3rem;
  margin-top: -5rem;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
}

.service__card_head {
  font-size: 2.4rem;
  text-align: center;
  line-height: 3.6rem;
  text-transform: capitalize;
}

.service__tick {
  background: #fff;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.service__tick i {
  color: #f35b2d;
  font-weight: 800;
  font-size: 6.3rem;
}

.service__col {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.service__col:hover {
  margin-top: -0.5rem;
}

.carousel {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-contain {
  padding-left: 8.4rem;
  padding-right: 9.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 37.5em) {
  .carousel-contain {
    padding-bottom: 9rem;
  }
}

.carousel__heading {
  width: 86.7rem;
  height: 21rem;
  text-transform: capitalize;
}

.carousel__heading h1 {
  font-size: 6.4rem;
  line-height: 7rem;
  color: #fff;
  font-weight: 700;
  text-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.61);
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 56.25em) {
  .carousel__heading h1 {
    font-size: 5rem;
    line-height: 6.2rem;
  }
}

@media (max-width: 37.5em) {
  .carousel__heading h1 {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}

.carousel__left, .carousel__right {
  width: 3.7rem;
  height: 3.7rem;
}

@media (max-width: 56.25em) {
  .carousel__left, .carousel__right {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .carousel__left, .carousel__right {
    display: none;
  }
}

.navigation {
  height: 9.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .navigation {
    height: 8rem;
    padding: 0 3rem;
  }
}

.navigation_contain {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navigation__logo {
  width: 23rem;
  height: 6.5rem;
}

.navigation__logo-img {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}

.navigation__nav {
  width: 56.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 0;
  height: 100%;
  line-height: 2.3rem;
}

.navigation__nav-toggle {
  display: none;
}

@media (max-width: 56.25em) {
  .navigation__nav-toggle {
    display: block;
    font-size: 3rem;
    text-align: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.navigation__minor_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.4rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  top: 2rem;
}

@media (max-width: 56.25em) {
  .navigation__minor_nav ul {
    display: block;
    width: 100%;
  }
}

.navigation__minor-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.7rem;
  margin-right: 2.5rem;
}

.navigation__minor-social li:not(:first-child) {
  margin-left: 1rem;
}

@media (max-width: 56.25em) {
  .navigation__minor-social ul,
  .navigation__minor-social li {
    display: none;
  }
}

.navigation__minor-corp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 16.4rem;
}

.navigation__minor-corp li:not(:first-child) {
  margin-left: 1.6rem;
}

@media (max-width: 56.25em) {
  .navigation__minor-corp li {
    display: block;
  }
}

.navigation__major-corp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.7rem;
  padding: 0;
  margin-right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 56.25em) {
  .navigation__major-corp {
    text-align: right;
    display: none;
  }
}

.navigation__major-corp li:not(:first-child) {
  margin-left: 3.3rem;
}

.navigation__major-corp > .navigation__nav-link {
  text-transform: capitalize;
}

@media (max-width: 56.25em) {
  .navigation__major-corp li {
    display: inline-block;
    width: 100%;
    border: 1px solid red;
  }
}

@media (max-width: 56.25em) {
  .navigation__minor_nav ul {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */